*{
	margin: 0;
	padding: 0;
}

html{
	background-image: url('../images/main.jpg');
}

li{
	margin-top: 15px;
	list-style-type: none;
}

h1{
	color: white;
	font-size: 40px;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	text-decoration: underline;
	transition: all 0.5s ease-out;
}

h1:hover{
	text-decoration: none;
	letter-spacing: 2px;
}

h3{
	color: white;
	font-size: 40px;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding-bottom: 10px;
}
/*-----------------------------------------HEADER--------------------------------------------*/
header{
	width: 100%;
	min-height: 80px;
}

.logotype{
	display: inline-block;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	float: left;
	padding-top: 15px;
	background-color: rgba(0,0,0,1);
	min-height: 65px;
	width: 25%
}

.header_links{
	display: inline-block;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	float: right;
	background-color: rgba(0,0,0,1);
	padding-top: 15px;
	text-align: center;
	min-height: 65px;
	width: 72%
}

.head_link{
	color: white;
	font-size: 36px; 
	cursor: pointer;
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	transition: all 0.2s ease-out;
}

ul.headlinks li{
	display: inline;
	margin-left: 6%;
	margin-right: 6%;
}

a:hover{
	color: #ccad00;
	letter-spacing: 0.5px;
}
/*-----------------------------------------MAIN--------------------------------------------*/
.main{
	width: 100%;
	min-height: 550px;
	padding-top: 50px;
	text-align: center;
}

.articles{
	display: inline-block;
	border: 1px solid white;
	vertical-align: top;
	background-color: rgba(0,0,0,0.9);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	width: 25%;
	min-height: 440px;
	transition: all 0.2s ease-out;
}

.articles:hover{
	background-color: rgba(20,15,11,0.95);
	transform: scale(1.05);
}

.update{
	display: inline-block;
	border: 1px solid white;
	vertical-align: top;
	background-color: rgba(0,0,0,0.9);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 3%;
	margin-right: 3%;
	width: 25%;
	min-height: 440px;
	transition: all 0.2s ease-out;
}

.update:hover{
	background-color: rgba(20,15,11,0.95);
	transform: scale(1.05);
}

.tests{
	display: inline-block;
	border: 1px solid white;
	vertical-align: top;
	background-color: rgba(0,0,0,0.9);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	width: 25%;
	min-height: 440px;
	transition: all 0.2s ease-out;
}

.tests:hover{
	background-color: rgba(20,15,11,0.95);
	transform: scale(1.05);
}

.aut_line{
	margin: 0 auto;
	margin-bottom: 40px;
	width: 90%;
}

.aut_line_1{
	width: 90%;
	margin: 0 auto;
	margin-top: 40px;
}

.link_article{
	color: white;
	margin-top: 10px;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.update p{
	color: white;
	text-align: left;
	font-size:  20px;
}

.update p time{
	font-size:  16px;
	text-decoration: underline; 
}

/*-----------------------------------------HEADER--------------------------------------------*/
footer{
	width: 100%;
	min-height: 80px;
	text-align: center;
	background-color: rgba(0,0,0,1);
}

footer p{
	display: inline-block;
	margin-top: 15px;
	margin-left: 7%;
	margin-right: 7%;
	color: white;
	font-size: 40px;
	transition: all 0.2s ease-out;
}

footer p:hover{
	margin-left: 2%;
	margin-right: 2%;
}
/*---------------------------------------------------------------ADAPTATION----------------------------------------------------------------------------------------------------------*/
/*1100-1319*/
@
.head_link{





