*{
	margin: 0;
	padding: 0;
}

html{
	background-image: url('../images/main.jpg');
}

li{
	margin-top: 15px;
	list-style-type: none;
}

h1{
	color: white;
	font-size: 40px;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	text-decoration: underline;
	transition: all 0.5s ease-out;
}

h1:hover{
	text-decoration: none;
	letter-spacing: 2px;
}

h3{
	color: white;
	font-size: 40px;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding-bottom: 10px;
}

a{
	text-decoration: none;
}
/*-----------------------------------------HEADER--------------------------------------------*/
header{
	width: 100%;
	min-height: 80px;
}

.logotype{
	display: inline-block;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	float: left;
	padding-top: 15px;
	background-color: rgba(0,0,0,1);
	min-height: 65px;
	width: 25%
}

.header_links{
	display: inline-block;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	float: right;
	background-color: rgba(0,0,0,1);
	padding-top: 15px;
	text-align: center;
	min-height: 65px;
	width: 72%
}

.head_link{
	color: white;
	font-size: 36px; 
	cursor: pointer;
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	transition: all 0.2s ease-out;
}

ul.headlinks li{
	display: inline;
	margin-left: 6%;
	margin-right: 6%;
}

.head_link:hover{
	color: #ccad00;
	letter-spacing: 0.5px;
}

.mobile_header{
	display: none;
}
/*-----------------------------------------MAIN--------------------------------------------*/
.main{
	width: 100%;
	min-height: 550px;
	padding-top: 10px;
	text-align: center;
}

.articles{
	display: inline-block;
	border: 1px solid white;
	vertical-align: top;
	background-color: rgba(0,0,0,0.9);
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	width: 30%;
	min-height: 440px;
	transition: all 0.2s ease-out;
}

.articles:hover{
	background-color: rgba(1,14,7,0.95);
	transform: scale(1.05);
}

.main p{
    color: white;
	text-align: justify;
	font-size: 22px;
	margin-right: 20px;
	margin-left: 20px;
}

.update{
	display: inline-block;
	border: 1px solid white;
	vertical-align: top;
	background-color: rgba(0,0,0,0.9);
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 3%;
	margin-right: 3%;
	cursor: pointer;
	width: 30%;
	min-height: 440px;
	transition: all 0.2s ease-out;
}

.update:hover{
	background-color: rgba(25,20,1,0.95);
	transform: scale(1.05);
}

.tests{
	display: inline-block;
	border: 1px solid white;
	vertical-align: top;
	background-color: rgba(0,0,0,0.9);
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 30%;
	min-height: 440px;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.tests:hover{
	background-color: rgba(25,7,1,0.95);
	transform: scale(1.05);
}

.aut_line{
	margin: 0 auto;
	margin-bottom: 40px;
	color: white;
	width: 90%;
}

.link_article{
	color: white;
	margin-top: 10px;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.2s ease-out;
}
/*-------------------------------------LIBRARY-----------------------------------------------*/
.library{
	display: inline-block;
	border: 1px solid white;
	border-left: none;
	vertical-align: top;
	background-color: rgba(0,0,0,0.9);
	margin-right: 3%;
	float: left;
	width: 100%;
	min-height: 40px;
	transition: all 0.2s ease-out;
}

.library ul li{
	display: inline-block;
	margin-top: none;
	margin-bottom: 15px;
	margin-left: 2%;
	margin-right: 2%;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.library ul li:hover{
	letter-spacing: 1px;
}

.library ul li p{
	margin-left: 5px;
	margin-right: 5px;
	font-size: 20px;
	transition: all 0.2s ease-out;
}

.library ul li p:hover{
	color: #ccad00;
}

.library_type{
	display: inline-block;
	background-color: rgba(0,0,0,0.9);
	width: 20%;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	border: 1px solid white;
	min-height: 450px;
	transition: all 0.2s ease-out;
}

.library_type:hover{
	transform: scale(1.05);
}

.library_type p{
    text-align: center;
	margin-top: 10px;
	font-size: 26px;
}

.type{
	display: none;
}
/*-----------------------------------------TEST--------------------------------------------*/
section{
	display: inline-block;
	border: 1px solid white;
	vertical-align: top;
	background-color: rgba(0,0,0,0.9);
	margin-top: 30px;
	margin-left: 1%;
	margin-right: 1%;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 30%;
	min-height: 440px;
	transition: all 0.2s ease-out;
}

section:hover{
	transform: scale(1.05);
	background-color: rgba(1,14,7,0.95);
}

.main section h2{
	color: white;
	font-size: 32px;
	padding-bottom: 10px;
}

.main section hr{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.main section p.qest{
	color: white;
	font-size: 20px;
}

.main section ul{
	text-align: left;
}

.main section ul li{
	color: white;
}

.buttons_s{
	margin: 0 auto;
	margin-top: 20px;
	padding-top: 10px;
	border: 1px solid white;
	width: 20%;
	height: 40px;
	cursor: pointer;
	background-color: rgba(0,0,0,1);
	transition: all 0.2s ease-out;
}

.buttons_s:hover{
	transform: scale(1.05);
}

.buttons_s p{
	text-align: center;
	color: white;
	transition: all 0.2s ease-out;
}

.buttons_s p:hover{
	color: #ccad00;
}

.main section p.true_ans{
	display: none;
	color: white;
	margin-top: 10px;
	font-size: 14px;
}

button{
	border: none; 
	color: white;
	font-size: 20px;
	background-color: rgba(0,0,0,1);
	outline: none; 
	cursor: pointer;
	transition: all 0.2s ease-out;
}

button:hover{
	color: #ccad00;
}

input{
	margin-left: 20px;
	margin-right: 10px;
	cursor: pointer;
}
/*-----------------------------------------FOOTER--------------------------------------------*/
footer{
	width: 100%;
	min-height: 80px;
	text-align: center;
	margin-top: 20px;
	background-color: rgba(0,0,0,1);
}

footer p{
	display: inline-block;
	min-height: 30px;
	margin-top: 15px;
	margin-left: 7%;
	margin-right: 7%;
	color: white;
	font-size: 40px;
	transition: all 0.2s ease-out;
}

footer p:hover{
	margin-left: 2%;
	margin-right: 2%;
}
/*---------------------------------------------------------------ADAPTATION----------------------------------------------------------------------------------------------------------*/
/*1100-1319*/
@media screen and (min-width: 1121px) and (max-width: 1320px){
	ul.headlinks li{
	     margin-left: 4%;
	     margin-right: 4%;
	}
}

@media screen and (min-width: 982px) and (max-width: 1120px){
	ul.headlinks li{
	     margin-left: 3%;
	     margin-right: 3%;
	}
	
	h1{
		 font-size: 35px;
	}
	
	.main p{
	     font-size: 20px;
	}
	
	section{
	width: 45%;
	margin-left: 2%;
	margin-right: 2%;
}
}

@media screen and (min-width: 768px) and (max-width: 981px){
	ul.headlinks li{
	     margin-left: 2%;
	     margin-right: 2%;
	}
	
	.head_link{
		 font-size: 30px;
	}
	
	h1{
		 font-size: 26px;
	}
	
	.main p{
	     font-size: 17px;
	}
	
	.logotype{
		 padding-top: 20px;
		 min-height: 55px;
	}
	
	.header_links{
		 min-height: 60px;
	}
	
	footer p{
		 margin-left: 6%;
	     margin-right: 6%;
	}
	
	.library ul li p{
	    font-size: 16px;
    }
	
    section{
	   width: 45%;
	   margin-left: 2%;
	   margin-right: 2%;
}
}

@media screen and (min-width: 560px) and (max-width: 767px){
	
	header{
		background-color: black;
	}
	
	h1{
		font-size: 30px;
	}
	
	img{
		height: 61px;
		width: 61px;
	}
	
	.main{
		text-align: center;
		min-height: 500px;
		padding-bottom: 30px;
	}
	
	.mobile_header{
	     display: block;
		 float: right;
		 width: 60%;
		 min-height: 80px;
		 background-color: black;
    }
	
	.comp_header{
		 display: none;
	}
	
	.logotype{
		 display: inline-block;
		 height: 100%;
		 float: left;
		 width: 40%;
		 border: none;
	}
	
	.mobile_head_link{
		 display: inline-block;
		 margin-top: 10px;
		 height: 61px;
		 width: 61px;
		 cursor: pointer;
		 transition: all 0.2s ease-out;
	}
	
	.mobile_head_link:hover{
		 background-color: #ccad00;
		 transform: scale(1.2);
	}
	
	.mobile_head_link.home{
		margin-right: 20px;
		float: right;
	}
			
	.articles{
		 display: block;
		 margin: 0 auto;
		 width: 80%;
	}
	
	.update{
		 display: block;
		 margin: 0 auto;
		 margin-top: 20px;
		 width: 80%;
	}
	
	.tests{
		 display: block;
		 margin: 0 auto;
		 margin-top: 20px;
		 width: 80%;
	}
	
	footer p{
		 margin-left: 4.5%;
	     margin-right: 4.5%;
	}
	
	.library ul li p{
	    font-size: 16px;
    }
	
    section{
	   width: 80%;
	   display: block;
	   margin: 0 auto;
	   margin-top: 10px;
	   margin-bottom: 25px;
    }
	
	.buttons_s{
		width: 35%;
	}
}

@media screen and (max-width: 559px){
	header{
		background-color: black;
	}
	
	h1{
		font-size: 30px;
	}
	
	img{
		height: 61px;
		width: 61px;
	}
	
	.main{
		text-align: center;
		min-height: 500px;
		padding-bottom: 30px;
	}
	
	.mobile_header{
	     display: block;
		 text-align: center;
		 width: 100%;
		 min-height: 80px;
		 background-color: black;
    }
	
	.comp_header{
		 display: none;
	}
	
	.logotype{
		 display: block;
		 text-align: center;
		 height: 30px;
		 width: 100%;
		 border: none;
	}
	
	.mobile_head_link{
		 display: inline-block;
		 margin-left: 3%;
		 margin-right: 3%;
		 height: 61px;
		 width: 61px;
		 cursor: pointer;
		 transition: all 0.2s ease-out;
	}
	
	.mobile_head_link:hover{
		 background-color: #ccad00;
		 transform: scale(1.05);
	}
			
	.articles{
		 display: block;
		 margin: 0 auto;
		 margin-top: 10px;
		 width: 80%;
	}
	
	.articles p{
		font-size: 18px;
	}
	
	.update{
		 display: block;
		 margin: 0 auto;
		 margin-top: 20px;
		 width: 80%;
	}
	
	.update p{
		font-size: 18px;
	}
	
	.tests{
		 display: block;
		 margin: 0 auto;
		 margin-top: 20px;
		 width: 80%;
	}
	
	.tests p{
		font-size: 18px;
	}
	
	footer p{
		 font-size: 20px;
		 margin-left: 4%;
	     margin-right: 4%;
	}
	
	.library ul li p{
	    font-size: 14px;
    }
	
	section{
	   width: 80%;
	   display: block;
	   margin: 0 auto;
	   margin-top: 10px;
	   margin-bottom: 25px;
    }
	
	.buttons_s{
		width: 50%;
	}
}
